:root {
    --bg: white;
    --fg: black;
    --bga: #c7c7d4;
    --fga: #d7dfe4;
    line-height: 1.8;
    font-size: 1rem;
}

.dark-mode {
    --bg: black;
    --fg: white;
    --bga: #262829;
    --fga: #171919;
}

a {
    color: var(--fg);
    text-decoration: none;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    max-width: 800px;
    margin: 0 auto;
}

@media (pointer: course) {
    :root {
        font-size: 2rem;
    }
}

input,
button {
    font-size: 1rem;
    font-family: serif;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
}

header h1 {
    margin-right: auto;
}

header button {
    margin-left: 14px;
}

ul {
    margin: 0;
    padding: 0;
}

#task-form-container {
    background-color: var(--bg);
    top: 0;
    position: sticky;
    margin-bottom: 20px;
}

#task-create-form {
    display: flex;
    flex-wrap: wrap;
}

#task-create-form input {
    padding: 10px;
    flex-grow: 1;
}

#view-selector {
    display: flex;
    width: inherit;
    align-content: center;
}
#view-selector a {
    margin: 0 auto;
}
#view-selector a:hover {
    text-decoration: underline;
}

.task-list-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 20px;
    list-style: none;
}

.list-item-form {
    display: flex;
    margin: 5px 0;
    padding: 10px 20px;
    justify-content: end;
    /*border-top: 1px solid var(--fg);*/
    border: 1px solid var(--bga);
    border-radius: 8px;
    background-color: var(--fga);
}

.task-item-label {
    margin-right: auto;
    overflow: hidden;
}

.task-item-input {
    background-color: var(--bg);
    color: var(--fg);
    width: 100%;
    border: none;
    border-bottom: 1px dotted var(--fg);
    font-style: italic;
}
