{{ define "app" }}
<!doctype html>
<html lang="en">
    <head>
        <title>Tasks</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <script src="/static/javascript/htmx.js"></script>
        <script src="/static/javascript/darkmode.js" defer></script>
        <link rel="stylesheet" href="/static/css/app-style.css" />
    </head>
    <body>
        <header>
            <h1>
                <a href="#" onclick="toggleDarkmode()">[TASKS]</a>
            </h1>
            <h4>Welcome back {{ .Username }}.</h4>
            <button hx-post="/api/logout-user">Logout</button>
        </header>
        <main>
            <div id="task-interact-root">
                <div id="task-form-container">
                    Create a new task
                    <form
                        id="task-create-form"
                        hx-post="/api/create-task"
                        hx-target="body"
                        hx-validate="true"
                    >
                        <input
                            type="text"
                            name="task-input"
                            minlength="1"
                            maxlength="120"
                            placeholder="Task to complete"
                            required
                        />
                        <button type="submit" name="task-submit">
                            Create Task
                        </button>
                    </form>
                </div>
                <ul id="task-list-container">
                    {{ range .Tasks }} {{ template "list-item" . }} {{ end }}
                </ul>
            </div>
        </main>
    </body>
</html>
{{ end }} {{ block "list-item" . }}
<li>
    <form class="list-item-form">
        <input type="hidden" name="task-id" value="{{.Id}}" />
        <label class="task-item-label" id="list-item-label-{{.Id}}" name="task"
            >{{ .Text }}</label
        >
        <input
            type="hidden"
            class="task-item-input"
            name="task-edit"
            value="{{.Text}}"
        />
        <button name="edit-task-button" alt="Edit.">&equiv;</button>
        <button
            name="complete-task-button"
            hx-post="/api/complete-task"
            hx-target="body"
            alt="Complete."
        >
            &check;
        </button>
    </form>
</li>
{{ end }}
