{{ define "app" }}
<!doctype html>
<html lang="en">
    <head>
        <title>Tasks</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <script src="/static/javascript/htmx.js"></script>
        <script src="/static/javascript/darkmode.js" defer></script>
        <script src="/static/javascript/manipforms.js" defer></script>
        <link rel="stylesheet" href="/static/css/app-style.css" />
    </head>
    <body>
        <header>
            <h1>
                <a href="#" onclick="toggleDarkmode()">[TASKS]</a>
            </h1>
            <h4>Welcome back {{ .Username }}.</h4>
            <button hx-post="/api/logout-user">Logout</button>
        </header>
        <main>
            <div id="task-interact-root">
                <div id="task-form-container">
                    Create a new task
                    <form
                        id="task-create-form"
                        hx-post="/api/create-task"
                        hx-target="body"
                        hx-validate="true"
                        autocomplete="off"
                    >
                        <input
                            type="text"
                            name="task-input"
                            minlength="1"
                            maxlength="120"
                            placeholder="Task to complete"
                            required
                        />
                        <button type="submit">Create Task</button>
                    </form>
                </div>
                {{if .Finished }}
                <div id="view-selector">
                    <a
                        id="show-complete-button"
                        href="#"
                        onclick="showComplete()"
                        >show finished tasks</a
                    >
                    <a id="show-back-button" href="/app" style="display: none"
                        >back</a
                    >
                </div>
                {{end}}

                <ul id="unfinished-tasks" class="task-list-container">
                    {{ range .Tasks }} {{ template "list-item" . }} {{ end }}
                </ul>
                <ul
                    id="finished-tasks"
                    class="task-list-container"
                    style="display: none"
                >
                    {{ range .Finished }} {{template "finished-item" .}} {{ end
                    }}
                </ul>
            </div>
        </main>
    </body>
</html>
{{ end }} {{ block "list-item" . }}
<li>
    <form class="list-item-form" id="item-form-{{.Id}}" autocomplete="off">
        <input type="hidden" name="task-id" value="{{.Id}}" />

        <!-- Visible text label -->
        <label class="task-item-label" id="item-label-{{.Id}}" name="task"
            >{{ .Text }}</label
        >

        <!-- Hidden task text input -->
        <input
            name="task-new"
            class="task-item-input"
            id="item-input-{{.Id}}"
            value="{{.Text}}"
            hidden
        />

        <!-- Default Buttons -->
        <button
            name="edit-task-button"
            id="item-edit-button-{{.Id}}"
            alt="Edit."
            type="button"
            onclick="enableTaskEdit({{.Id}})"
        >
            &#9998;
        </button>
        <button
            name="complete-task-button"
            id="item-complete-button-{{.Id}}"
            hx-post="/api/complete-task"
            hx-target="body"
            alt="Complete."
        >
            &check;
        </button>

        <!-- Task edit buttons -->
        <button
            name="edit-cancel-button"
            id="item-unedit-button-{{.Id}}"
            alt="Cancel."
            type="button"
            onclick="disableTaskEdit({{.Id}})"
            hidden
        >
            &Cross;
        </button>
        <button
            name="edit-confirm-button"
            id="item-update-button-{{.Id}}"
            alt="Finalize."
            hx-post="/api/update-task"
            hx-target="body"
            type="button"
            hidden
        >
            &check;
        </button>
    </form>
</li>
{{ end }} {{block "finished-item" .}}
<li id="list-completed-{{.Id}}">
    <form class="list-item-form">
        <input type="hidden" name="task-id" value="{{.Id}}" />
        <label class="task-item-label" style="text-decoration: line-through"
            >{{.Text}}</label
        >
        <button
            hx-post="/api/uncomplete-task"
            hx-target="#list-completed-{{.Id}}"
        >
            &#10226;
        </button>
    </form>
</li>
{{ end }}
